@model BAPA_LMS.Models.CourseViewModels.CourseDetailViewModel

<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#tabedit">Klasslista</a></li>
    <li><a data-toggle="tab" href="#tabdoc">Dokument</a></li>
</ul>

<div class="tab-content">
    <div id="tabedit" class="tab-pane fade in active">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    Klasslista för @Html.DisplayFor(model => model.Name)
                </h4>
            </div>
            <table class="table table-fixed">

                @foreach (var user in Model.Members.OrderBy(u => u.LastName).ThenBy(u => u.FirstName))
                {
                    <tr>
                        <td class="col-xs-12">
                            @Html.DisplayFor(modelItem => user.FullName) &nbsp;
                            <a href="@Url.Action("Delete", new { id = user.Id })" data-toggle="modal" data-target="#modalContainer">
                                <span class="glyphicon glyphicon-trash" title="Ta Bort @user.FullName"></span>
                            </a>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div id="tabdoc" class="tab-pane fade">
        @{Html.RenderAction("TeacherUploader", "UploadDocument", new { id = "c" + Model.Id.ToString() });}
    </div>
</div>