@model BAPA_LMS.Models.CourseViewModels.CourseIndexViewModel
@{
    ViewBag.Title = "Kurseditor";
}

<h2>Kurseditor - @(Model.Name)</h2>

<div class="row">
    <div id="tree" data-id="@Model.Id" class="col-md-4">

    </div>
    <div class="col-md-8">
        <div id="editarea">

        </div>
        <div class="buttonbar">
            <button id="btnAddModule" class="btn btn-default">Skapa modul</button>
            <button id="btnAddActivity" class="btn btn-default">Skapa aktivitet</button>
            <button id="btnDel" class="btn btn-default" href="">Ta bort</button>
        </div>
    </div>  
    @Html.ActionLink("Lägg till kursdeltagare", "Register", new { id = Model.Id})
</div>