@model BAPA_LMS.Models.CourseViewModels.CourseIndexViewModel
@{
    ViewBag.Title = "Kurseditor";
}

<h2>Kurseditor - @(Model.Name)</h2>

<div class="row">
    <div id="tree" data-id="@Model.Id" class="col-md-4">

    </div>
    <div id="editarea" class="col-md-8">

    </div>
    @Html.ActionLink("Lägg till kursdeltagare", "Register", new { id = Model.Id})
</div>