body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-user  {
    line-height: 20px;
    padding: 15px !important;
    color: #9d9d9d;    
}

    .navbar-user a {
        color: #9d9d9d;
    }

.navbar-user > a:hover{
    color:white;
    text-decoration:none;
}

#logouticon{
    padding-right: 4px;
}
/* Haxxored alertviewer on top*/
body > div.alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000
}

.course-modules {
    height: 220px;
    width: 580px;
    border-radius: 10px;
    border: 1px inset groove;
    overflow-y:scroll;
}

.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
    display: block;
}
.table-fixed tbody td, .table-fixed thead > tr > th {
    float: left;
    border-bottom-width: 0;
}
.no-padding{
    padding-left:0px !important;
    padding-right:0px !important;
}
.fc-title {
    font-size: 1.3em;
}
.fc-title i.glyphicon {
    padding-right: 3px;
}
.fc-time-grid-event .fc-time > span{
    font-size: 1.2em;
}
.fc-time {
    font-size: 1.1em;
}

.modal-content {
    width: 500px;
    margin: 70px auto;
}

/*Override strange default input bootstrap*/
.input-group.date > .input-group-addon {
    width: 0;
}


.input-daterange {
    width: auto;
}

.editarea-fixed {
    position: fixed;
}