@model BAPA_LMS.Models.CourseViewModels.CourseIndexViewModel
@{
    ViewBag.Title = "Kurskalender";
    ViewBag.Style = "-calendar";
}

<div class="row">
    <h2 class="col-xs-12">Min kurs: <a href="@Url.Action("Courseinfo", "Student")">@Html.DisplayFor(model => model.Name)</a></h2>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id='calendar'>

		</div>
	</div>
</div>
<div id="modalContainer" class="modal" tabindex="-1" role="dialog">
    <div id="popupContent" class="modal-content">
    </div>
</div>