@model BAPA_LMS.Models.CourseViewModels.CourseIndexViewModel
@{
	ViewBag.Title = "Index";
}
@Html.DisplayFor(model => model.Name)
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />

<h2></h2>

<div class="row">
	<div class="xs-col-12">
		<div id='calendar'>

		</div>
	</div>
</div>
<div id="modalContainer" class="modal" tabindex="-1" role="dialog">
    <div id="popupContent" class="modal-content">
    </div>
</div>
@section scripts {
	<script src="~/Scripts/moment.min.js"></script>
	<script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
	<script src="~/Scripts/student.js"></script>
	<script src="~/Scripts/fullcalendar/locale/sv.js"></script>
}