
@{
	ViewBag.Title = "Index";
}
<link href="~/Content/fullcalendar.min.css" rel="stylesheet" />

<h2>Index</h2>

<div class="row">
	<div class="xs-col-12">
		<div id='calendar'>

		</div>
	</div>
</div>
@section scripts {
	<script src="~/Scripts/moment.min.js"></script>
	<script src="~/Scripts/fullcalendar/fullcalendar.min.js"></script>
	<script src="~/Scripts/student.js"></script>
	<script src="~/Scripts/fullcalendar/locale/sv.js"></script>
}