@using BAPA_LMS.Models.DB;
@model Tuple<List<ApplicationUser>,List<FileDocument>>

@{
    ViewBag.Title = "ListDocuments";
}

<h2>ListDocuments</h2>


<table class="table">
    <tr>
        <th>
           <p>Full Name</p>
        </th>

        <th></th>
    </tr>

@foreach (var user in Model.Item1) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => user.FullName)
        </td>
       
        <td>
         @foreach (var file in Model.Item2)
         {
             if (file.MemberId == user.Id)
             {
                @Html.ActionLink("Ladda ner dokument", "DownloadFile", new { id = file.Id })
             }
         }
        
        </td>
    </tr>
}

</table>
