@using BAPA_LMS.Models.DB;
@model Tuple<List<ApplicationUser>, List<FileDocument>>

<table class="table">
    <tr>
        <th>
            <p>Elev</p>
        </th>
        <th>
            <p>Filnamn</p>
        </th>
        <th>
            <p>Inskickad</p>
        </th>
        <th>
            <p>Hämta dokument</p>
        </th>
    </tr>

    @foreach (var user in Model.Item1)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.FullName)
            </td>


            @foreach (var file in Model.Item2)
            {

                if (file.MemberId == user.Id)

                {
                
                    <td>
                       <span> &nbsp; </span>
                        @Html.DisplayFor(modelItem => file.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => file.TimeStamp)
                    </td>
                    <td>
                        @Html.ActionLink(" ", "DownloadFile", new { id = file.Id }, new { @class = "glyphicon glyphicon-download-alt", style="font-size:1.5em;" })                       
                    </td>
                }
                else
                {
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>

                    </td>
                }
            }
        </tr>
    }

</table>
